.produccion-tabla h3 {
  display: flex;
  margin-left: 10px;
}

.col-1 input {
  width: 17px;
  height: 22px;
}

.eliminar-boton {
  width: 15px;
  height: 15px;
}

#h2-produccion-pendiente {
  margin-left: 10px !important;
}

.popup-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.popup-buttons button {
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  border-color: aliceblue;
  cursor: pointer;
  background-color: #124d83;
  color: white;
}
