/*CSS NUEVO*/

.input-group-cantidades {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

.input-item {
  margin: 20px;
  text-align: center;
  align-items: center;
  display: flex;
}
.input-item label {
  width: 200px;
  background-color: #124d83;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.input-item input {
  width: 200px;
  background-color: #ddeaf6;
  height: 40px;
  text-align: center;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-group {
  display: flex;
  justify-content: end;
  margin-top: 30px;
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.botoniniciarproduccion {
  background-color: #124d83;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.input-group-cantidades {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin: 20px 0;
}

.input-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 200px;
}

.input-item label {
  margin-bottom: 8px;
  font-weight: bold;
}

.input-item input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

/* Para pantallas más pequeñas, puedes forzar que cada input ocupe todo el ancho */
@media (max-width: 950px) {
  .input-item {
    flex-basis: 100%;
  }
}
